In [3]:
print("Hello World")

Hello World

In [7]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

before function call
Hello world
welcome
None
after function call

In [8]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

enetr a no5
square of 5 is 25

In [10]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

enetr a no6
36

In [11]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

enetr a no6
square of 6 is 36

In [12]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

enetr a no4
16

In [28]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

20 30
<class 'int'>

In [34]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

([10, 20, 30, 40], (60, 70, 80))
<class 'tuple'>

In [44]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

20 20

In [45]:
_ = 10
print(_)

10